<mat-toolbar>

  <div class="key-container">
    <mat-icon>arrow_forward_ios</mat-icon>
    <span class="description">Start Node</span>
  </div>

  <div class="key-container">
    <mat-icon>room</mat-icon>
    <span class="description">Target Node</span>
  </div>

  <div class="key-container">
    <mat-icon>new_releases</mat-icon>
    <span class="description">Bomb Node</span>
  </div>

  <div class="key-container">
    <mat-icon>fitness_center</mat-icon>
    <span class="description">Weight Node</span>
  </div>

<!--  <div>-->
<!--    <span class="description">Unvisited Node</span>-->
<!--  </div>-->

  <div class="key-container">
    <mat-icon style="background-color: #00a992"></mat-icon>
    <mat-icon style="margin-left: 10px;background-color: mediumpurple"></mat-icon>
    <span class="description">Visited Nodes</span>
  </div>

  <div class="key-container">
    <mat-icon style="background-color: orangered"></mat-icon>
    <span class="description">Shortest Path Node</span>
  </div>

  <div class="key-container">
    <mat-icon style="background-color: #03213c"></mat-icon>
    <span class="description">Wall Node</span>
  </div>
</mat-toolbar>
