mat-icon {
  position: center;
  margin-left: 38px;
}

.description {
  margin-left: 10px;
  position: center;
  font-size: large;
}

div {
  margin-left: 38px;
  width:21px;
  height:21px;
  background-color: white;
  border: 1px solid lightskyblue;
}

mat-toolbar {
  background-color: white;
  margin-top: 1%;
}
