mat-icon {
  padding-top: 5px;
  padding-right: 5px;
}

.description {
  padding-left: 3px;
}

.key-container {
  display: inline-flex;
  margin: auto;
}

mat-toolbar {
  background-color: white;
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  align-content: center;
  margin-top: 1%;
}
