span {
  margin-right: 20px;
}

.header-button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: cadetblue;
}

.header-action-button {
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightgreen;
}

mat-toolbar {
  background-color: darkslategray;
}

.title {
  color: white;
}
