<mat-toolbar color="primary">
  <div>
    <span style="color:lightseagreen">Visualized Algorithms</span>
  </div>

  <div class="header-button">
    <mat-menu #appMenuAlgorithms="matMenu">
      <button *ngFor="let algorithm of algorithms"
              mat-menu-item>{{ algorithm }}</button>
    </mat-menu>

    <button
      mat-raised-button
      color="accent"
      [matMenuTriggerFor]="appMenuAlgorithms">Algorithms
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>

  <div class="header-button">
    <mat-menu #appMenuMazes="matMenu">
      <button *ngFor="let maze of mazes"
              mat-menu-item>{{ maze }}</button>
    </mat-menu>

    <button
      mat-raised-button
      color="accent"
      [matMenuTriggerFor]="appMenuMazes">Mazes & Patterns
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>

  <div class="header-button">
    <button mat-raised-button
            color="accent">Remove Bomb</button>
  </div>

  <div class="header-button">
    <button mat-raised-button
            color="warn">Visualize {{ currentAlgorithm }}!</button>
  </div>

  <div class="header-button">
    <button mat-raised-button
            color="accent">Clear Board</button>
  </div>

  <div class="header-button">
    <button mat-raised-button
            color="accent">Clear Walls and Weights</button>
  </div>

  <div class="header-button">
    <button mat-raised-button
            color="accent">Clear Path</button>
  </div>

  <div class="header-button">
    <mat-menu #appMenuSpeed="matMenu">
      <button *ngFor="let speed of speeds"
              mat-menu-item
              (click)="onSpeedChosen(speed)">{{ speed }}</button>
    </mat-menu>

    <button
      mat-raised-button
      color="accent"
      [matMenuTriggerFor]="appMenuSpeed">Speed: {{ currentSpeed }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</mat-toolbar>
