<mat-toolbar>
  <div>
    <span class="title">Visualized Algorithms</span>
  </div>

  <div>
    <mat-menu #appMenuAlgorithms="matMenu">
      <button *ngFor="let algorithm of algorithms"
              (click)="onAlgorithmChosen(algorithm)"
              mat-menu-item>{{ algorithm }}</button>
    </mat-menu>

    <button
      class="header-button"
      mat-raised-button
      [matMenuTriggerFor]="appMenuAlgorithms">Algorithms
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>

  <div>
    <mat-menu #appMenuMazes="matMenu">
      <button *ngFor="let maze of mazes"
              (click)="onMazeChosen(maze)"
              mat-menu-item>{{ maze }}</button>
    </mat-menu>

    <button
      class="header-button"
      mat-raised-button
      [matMenuTriggerFor]="appMenuMazes">Mazes & Patterns
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>

  <div>
    <button mat-raised-button
            class="header-button">Remove Bomb</button>
  </div>

  <div>
    <button mat-raised-button
            class="header-action-button"
            (click)="onClickVisualize()"
            [ngClass]="{'header-action-button-toggled' : algorithmButtonToggle, 'header-action-button-not-toggled' : !algorithmButtonToggle}"
            >Visualize {{ currentAlgorithm }}!</button>
  </div>

  <div>
    <button mat-raised-button
            class="header-button"
            (click)="onClickBoardClear()">Clear Board</button>
  </div>

  <div>
    <button mat-raised-button
            class="header-button">Clear Walls and Weights</button>
  </div>

  <div>
    <button mat-raised-button
            class="header-button">Clear Path</button>
  </div>

  <div>
    <mat-menu #appMenuSpeed="matMenu">
      <!-- mat-icon speed for reference -->
      <button *ngFor="let speed of speeds"
              mat-menu-item
              (click)="onSpeedChosen(speed)">{{ speed.speed }}</button>
    </mat-menu>

    <button
      class="header-button"
      mat-raised-button
      [matMenuTriggerFor]="appMenuSpeed">Speed: {{ this.gridService.getCurrentSpeed().speed }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</mat-toolbar>
