span {
  margin-right: 20px;
}

div {
  margin: auto;
}

.header-button {
  margin-left: 6px;
  margin-right: 6px;
  background-color: cadetblue;
}

.header-action-button {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 250px;
  width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header-action-button-toggled {
  background-color: red;
}

.header-action-button-not-toggled {
  background-color: lightgreen;
}

mat-toolbar {
  background-color: darkslategray;
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  align-content: center;
}

.title {
  color: white;
}

.speed-action-button {
  margin-left: 6px;
  margin-right: 6px;
  background-color: cadetblue;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
  width: 180px;
}
