.flex-container {

  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  botton: 0;
  margin: auto;

  width: 1551px;
  height: 601px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightskyblue;
}

.flex-container > .tile {
  background-color: white;
  width: 24px;
  height: 24px;
  margin: 0.5px;
  text-align: center;
  font-size: 5px;
}
