.flex-container {

  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  botton: 0;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightskyblue;
}

.flex-container > .tile {
  background-color: white;
  margin: 0.5px;
  text-align: center;
  font-size: 10px;
}

.grid-size-four {
  width: 1551px;
  height: 601px;
}

.grid-size-eight {
  width: 1799px;
  height: 697px;
}

.tile-size-four {
  width: 24px;
  height: 24px;
}

.tile-size-eight {
  width: 28px;
  height: 28px;
}
