.tile-visited-cyan {
  background-color: cyan;
}

.tile-visited-purple {
  background-color: mediumpurple;
}

.tile-path {
  background-color: orangered;
}

.tile-wall {
  background-color: #03213c;
}

.tile-normal {
  background-color: white;
}

.tile-node {
  background-color: white;
}

button {
  border: none;
  width: inherit;
  height: inherit;
  font-size: 10px;
  position: relative;
}

button mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
